* {
    margin: 0;
    padding: 0;
}
body {
    background: #361999;
}
.title {
    display: flex;
    justify-content: center;
    color: white;
    margin: 20px;
    font-family: 'Nova Mono', monospace;
    font-size: 32px;
    padding-left: 170px;
}
.container {
    display: flex;
    justify-content: center;
}
.userPanel {
    display: flex;
    justify-content: center;
    height: inherit;
    width: 200px;
    padding-top: 20px;
}
button {
    width: 120px;
    height: 40px;
}
.containerGrid {
    width: 720px;
    height: 720px;
    background-color: white;
}
.rows {
    display: "inline-block";
    margin: 0;
    width: 100%;
    height: 22.5px;
    padding: 0;
}
.columns {
    display: inline-block;
    outline: 1px solid #000;
    margin: 0;
    padding: 0;
    height: 22.5px;
    width: 22.5px !important;
}