* {
    margin: 0;
    padding: 0;
}
body {
    background: #361999;
}
.title {
    display: flex;
    justify-content: center;
    color: white;
    margin: 20px;
    font-family: 'Nova Mono', monospace;
    font-size: 32px;
}
.containerGrid {
    width: 100%;
}