* {
    font-family: 'Nova Mono', monospace;
    margin: 0;
    padding: 0;
}
body {
    background: #494368;
}
.title {
    display: flex;
    justify-content: center;
    color: #FC60A8;
    margin: 10px;
    font-size: 32px;
    padding-left: 200px;
}
.container {
    display: flex;
    justify-content: center;
}
.userPanel {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 200px;
    padding-top: 20px;
}
button {
    background-color: #CEEC97;
    margin: 10px;
    text-decoration: none;
    font-size: 16px;
    color: #494368;
    font-weight: bolder;
    text-align: center;
    display: inline-block;
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: #F4B393;
    color: #7A28CB;
}
.containerGrid {
    width: 790px;
    height: 790px;
    background-color: white;
}
.rows {
    margin: 0;
    padding: 0;
}
.columns {
    display: inline-block;
    outline: 1px solid rgba(0,0,0, 0.2);
    margin: 0;
    padding: 0;
}